p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

:root {
  --main-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --background-color: #2F303A;
  --secondary-babackground-color: #F5F4FA;
  --card-background: #FFFFFF;
  --icon-color: #AFB1B8;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-color);
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 28, 41, 0.345);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--card-background);
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-color);
}

.service-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.service-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  position: relative;
  display: block;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  transform: translateY(-50%);
}

.service-input:focus + .input-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-input:focus {
  border-color: var(--accent-color);
}

.form-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text:focus {
  border-color: var(--accent-color);
}

.chekbox-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contract {
  font: inherit;
  color: var(--accent-color);
}

.check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .chekbox-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--white-color);
}

.input-check:focus + .chekbox-text span {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.service-btn {
  font-family: inherit;
  min-width: 200px;
  height: 50px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.btn-send {
  text-align: center;
  margin-top: 30px;
}

.networks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: #2196F3;
  color: var(--white-color);
}

.networks__icons {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo--black {
  color: #000000;
  margin-right: 94px;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.contacs__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  display: block;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:hover, .nav__item:focus {
  color: var(--accent-color);
}

.nav__item--color {
  color: var(--main-color);
}

.nav__icon {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
}

.svg__mail,
.svg__tel {
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:hover .svg__mail, .nav__item:focus .svg__mail,
.nav__item:hover .svg__tel,
.nav__item:focus .svg__tel {
  fill: var(--accent-color);
}

.contacs__item {
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: flex;
  gap: 30px;
}

.advantages__item {
  background-position: center;
}

.advantages__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-babackground-color);
  margin-bottom: 30px;
}

.advantages__icon {
  fill: var(--title-color);
}

.advantages__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.examples {
  text-align: center;
  padding-bottom: 94px;
}

.examples__list {
  display: flex;
  gap: 30px;
}

.examples__item {
  position: relative;
}

.examples__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--secondary-babackground-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  width: calc((100% - 90px) / 4);
  background: var(--card-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__inform {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
}

.client {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__list {
  display: flex;
  gap: 30px;
}

.client__item {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: calc((100% - 150px) / 6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item:hover, .client__item:focus {
  border-color: var(--accent-color);
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item:hover .client__link, .client__item:focus .client__link {
  color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__inform {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.logo__footer {
  margin-bottom: 20px;
  margin-right: 0;
}

.logo--white {
  color: var(--white-color);
}

.address__link, .address__item {
  text-decoration: none;
  font-style: normal;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus, .address__item:hover, .address__item:focus {
  color: var(--accent-color);
}

.address__item {
  margin-top: 9px;
}

.address__link--data {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  margin-left: auto;
}

.invite__text {
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.networks__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link--color:hover, .networks__link--color:focus {
  background-color: var(--accent-color);
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  outline: none;
  color: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:focus {
  border-color: var(--accent-color);
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  fill: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}/*# sourceMappingURL=main.css.map */