.advantages {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) { 
        padding-top: 94px;
        padding-bottom: 94px;}
}


.advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
        @media screen and (min-width: 1200px) 
        {  display: flex;
            flex-wrap: nowrap;
             gap: 30px;}
    }
  

.advantages__item {
    background-position: center;
    width: 100%;
    @media screen and (min-width: 768px) 
    {  width: calc((100% - 30px) / 2); }
    @media screen and (min-width: 1200px) 
    {  width: calc((100% - 90px) / 4); }
   }
   
.advantages__item:not(:last-child){
     margin-bottom: 30px;}

.advantages__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--secondary-babackground-color);
    margin-bottom: 30px;
}

.advantages__icon {
    fill: var(--title-color);
}

.advantages__title {
    @include font(null, 14px, 1.14, null);
    // font-size: 14px;
    // line-height: 1.14;
    text-transform: uppercase;


    color: var(--title-color);
    margin-bottom: 10px;

    @media screen and (max-width: 767px) 
    { text-align: center; }
}
