.examples {
    text-align: center;
    padding-bottom: 94px;
}

.examples__list {
    display: flex;
    gap: 30px;
}

.examples__item {
    position: relative;
}

.examples__text {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;

    @include font(700, null, 1.14, null);
    // font-weight: 700;
    // line-height: 1,14;
    text-align: center;
    text-transform: uppercase;

    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);

}