.footer {
    background-color: var(--background-color);
       padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) 
    {  display: flex;
        flex-direction: row;
         align-items: baseline;}
}
   

.footer__inform {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) 
    {   display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 165px;}
        @media screen and (min-width: 1200px) 
        {  
            gap: 70px;}
        
   
}

.logo__footer {
    margin-bottom: 20px;
    margin-right: 0;
}

.logo--white { 
    color: var(--white-color);

}

.address{
    margin-bottom: 60px;
}

.address__link{
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--white-color);
text-decoration: none;

}

.address__item{
    margin-top: 8px;
}

.address__link--data {
    color: rgba(255, 255, 255, 0.6);
    
}

.join{
    margin-bottom: 60px;
}

.subscribe {
    @media screen and (min-width: 1200px) 
    {  margin-left: auto;}
    
}


.invite__text {
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.networks__link--color{
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) 
    {  display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;}
}
    


.subscribe__input {
    @media screen and (max-width: 767px) 
    {   width: 358px;      }
    
    @media screen and (min-width: 768px) 
    {   width: 450px;      }

    @media screen and (min-width: 1200px) 
    {    width: 358px;
        margin-bottom: 0;}
   
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    outline: none;
    color: var(--white-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
    
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
        border-color: var(--accent-color);
    }
    margin-bottom: 20px;
    
}


.subscribe__btn {
    width: 200px;
    height: 50px;
    color: var(--white-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    fill: var(--white-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
}


