.hero {
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.hero__title {
    @include font(900, 44px, 1.36, 0.06em);
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    // letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    color: var(--white-color);

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    max-width: 696px;
}

.button {
    @include font(700, 16px, 1.88, 0.06em);
    font-family: inherit;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 10px 32px;

}