.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-button-list {
    margin-bottom: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: 1px transparent;
    border-radius: 4px;
    cursor: pointer;

    color: var(--title-color);
    background-color: var(--secondary-babackground-color);

    padding: 6px 22px;
    min-width: 73px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}


.portfolio-item {
    width: calc((100% - 60px) / 3);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.portfolio-card-back {
    display: block;
    position: relative;
    overflow: hidden;
}


.portfolio-back-text {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);

    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-card:hover &,
    .portfolio-card:focus & {
    transform: translateY(0);
}
}

.portfolio-inform {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);

    margin-bottom: 4px;
}

.portfolio-text {
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.88;
}