.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;

    color: var(--title-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) { 
        font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;}
}



