body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--main-color);
    background-color: var(--white-color);
}

.list {
    list-style: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}